<a href="https://colab.research.google.com/github/mihir-workspace/ML_projects/blob/main/Docs/Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A/B Testing

A library designed to help the Data scientist, Developer & Data analyst to quickly build report and analysis the performance of the A/B test. Link to GitHub and Pypi can be found below.

+ [GitHub-ab-testing](https://github.com/mihir-workspace/ab-testing)

+ [PyPi-ab-testing](https://pypi.org/project/ab-testing-analysis/)

In [1]:
!pip install ab-testing-analysis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ab-testing-analysis
  Downloading ab_testing_analysis-0.1.4-py3-none-any.whl (5.5 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from ab-testing-analysis) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from ab-testing-analysis) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->ab-testing-analysis) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->ab-testing-analysis) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->ab-testing-analysis) (1.15.0)
Installing collected packages: ab-testing-analysis
Successfully installed ab-testing-analysis-0.1.4

Import the ABTest class, which has methods to build the A/B report.
----
In this usecase will use a fake dataset, from Dataset class to create the users and related information, by importing the ``Dataset`` class

In [3]:
# Importing the library
from ab_testing import ABTest
from ab_testing.data import Dataset

In [6]:
# Creating the Dataframe of Users, their response and Group they belong to
df = Dataset().data()
df.head()

        Users  Response Group
0  EVZ1J8HCTA         0     A
1  V3M8R4EQR5         0     A
2  RI7WOAJ0YK         1     A
3  MRTH3Q0AGL         0     A
4  XN2VNRV4PE         0     A

## Data
Dataframe contain the, information on following things
+ **Response** from the user on test either **1** or **0** which indicate the whether he converted or not converted in the test.
+ **Group** column which indicate in which group/test this user belong to A or B.

In [10]:
print('Total number of the Users/records: ',df.shape[0])
print(f'Number of Groups, {df.Group.nunique()} and their labels {df.Group.unique()}')
print(f'Response types, {df.Response.unique()}','\n')

print('Group "A" response distribution')
print(df[df.Group=='A'].Response.value_counts())
print('\nGroup "B" response distribution')
print(df[df.Group=='B'].Response.value_counts())

Total number of the Users/records:  1000
Number of Groups, 2 and their labels ['A' 'B']
Response types, [0 1]

Group "A" response distribution
0    411
1     89
Name: Response, dtype: int64

Group "B" response distribution
0    396
1    104
Name: Response, dtype: int64

## Conversion rate report
Class parameters,

+ df = A dataframe which has Users, Response column and Group column
+ response_column = A column which has 1 or 0 correspond for the users which being converted or not respectively.
+ group_column = A column name which indicate the user belong to which group **A** or **B**

In [11]:
ab_obj = ABTest(df,response_column='Response',group_column='Group')

print(ab_obj.conversion_rate())

  Conversion Rate Standard Deviation Standar Error
A          17.80%              0.383        0.0171
B          20.80%              0.406        0.0182

## END